<mat-toolbar class="mat-toolbar-height" color="primary">
    <div class="nav-bar-container">

        <div class="nav-bar-left"></div>

        <div class="name-and-menu-container">
            <span>{{ title }}</span>
            <span class="example-spacer"></span>

            <ul class="nav-list" *ngIf="accountService.currentUserSource$ | async">
                <li><a routerLink="/messages">Messages</a></li>
                <li><a routerLink="/lists">Lists</a></li>
                <li><a routerLink="/members">Matches</a></li>
            </ul>
        </div>

        <div class="form-and-menu">
            <form [formGroup]="logInForm" *ngIf="!(accountService.currentUserSource$ | async)" class="form-content">
                <mat-form-field class="username-input">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username">
                </mat-form-field>
    
                <mat-form-field class="password-input">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
    
                <button *ngIf="!(accountService.currentUserSource$ | async)" mat-raised-button color="primary" (click)="logIn()" color="secondary">Log in</button>
            </form>

            <div *ngIf="(accountService.currentUserSource$ | async) as user" class="photo-container">
                <img src="{{user.photoUrl}}" alt="user photo">
            </div>

            <div *ngIf="(accountService.currentUserSource$ | async) as user" class="dropdown">
                <button mat-button [matMenuTriggerFor]="menu">Welcome, {{user.knownAs}}</button>
                <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/member/edit">Edit Profile</button>
                <button mat-menu-item (click)="logOut()">Logout</button>
                </mat-menu>
            </div>
        </div>

        <div class="nav-bar-right"></div>

    </div>
</mat-toolbar>